# The processing of Llama data

In [2]:
import pandas as pd

## Data for RQ1

In [20]:
df_llama_rq1 = pd.read_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama1_raw.csv', header=None, names=['text'])

In [22]:
df_llama_rq1['text'] = df_llama_rq1['text'].str.replace(r'^\d+\.\s*', '', regex=True)

In [23]:
df_llama_rq1 = df_llama_rq1[df_llama_rq1['text'] != '---'].reset_index()

In [31]:
df_llama_rq1 =  df_llama_rq1.groupby(df_llama_rq1.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()

In [34]:
df_llama_rq1.columns = ['author', 'text']

In [40]:
df_llama_rq1

     author                                               text
0         0  #LoveMyDog üê∂üíï Just had the best breakfast ever...
1         1  ü§î Thinking about getting a dog. Has anyone els...
2         2  ü§î Just realized I've been watching the same TV...
3         3  Loving the new Starbucks summer drinks! üçµ‚òÄÔ∏è Ju...
4         4  Just ate a whole pizza by myself üçïüëÄ #foodcoma ...
..      ...                                                ...
184     184  Loving the new season of #OrangeIsTheNewBlack ...
185     185  üö® New study finds that eating too much pizza c...
186     186  üö®Just had the best coffee of my life! üòçüëå #coff...
187     187  Just had the best breakfast! ü•êüç≥ #breakfastgoal...
188     188  #FridayFeeling üòé Just had the best coffee üëå Ca...

[189 rows x 2 columns]

In [46]:
df_llama_rq1 =  df_llama_rq1.drop(columns=['author'])

In [49]:
df_llama_rq1.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama1.csv', index=False)

## RQ2

In [11]:
df_llama_rq2_male = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_texts_2_male_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq2_male['text'] = df_llama_rq2_male['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq2_male = df_llama_rq2_male[df_llama_rq2_male['text'] != '---'].reset_index()
df_llama_rq2_male =  df_llama_rq2_male.groupby(df_llama_rq2_male.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq2_male.columns = ['author', 'text']
df_llama_rq2_male =  df_llama_rq2_male.drop(columns=['author'])

In [31]:
df_llama_rq2_male.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_male.csv', index=False)

In [13]:
df_llama_rq2_female = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_texts_2_female_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq2_female['text'] = df_llama_rq2_female['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq2_female = df_llama_rq2_female[df_llama_rq2_female['text'] != '---'].reset_index()
df_llama_rq2_female =  df_llama_rq2_female.groupby(df_llama_rq2_female.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq2_female.columns = ['author', 'text']
df_llama_rq2_female =  df_llama_rq2_female.drop(columns=['author'])

In [32]:
df_llama_rq2_female.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_female.csv', index=False)

In [19]:
df_llama_rq2_18_24 = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_texts_2_18_24_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq2_18_24['text'] = df_llama_rq2_18_24['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq2_18_24 = df_llama_rq2_18_24[df_llama_rq2_18_24['text'] != '---'].reset_index()
df_llama_rq2_18_24 =  df_llama_rq2_18_24.groupby(df_llama_rq2_18_24.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq2_18_24.columns = ['author', 'text']
df_llama_rq2_18_24 =  df_llama_rq2_18_24.drop(columns=['author'])

In [33]:
df_llama_rq2_18_24.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_18_24.csv', index=False)

In [22]:
df_llama_rq2_25_34 = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_texts_2_25_34_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq2_25_34['text'] = df_llama_rq2_25_34['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq2_25_34 = df_llama_rq2_25_34[df_llama_rq2_25_34['text'] != '---'].reset_index()
df_llama_rq2_25_34 =  df_llama_rq2_25_34.groupby(df_llama_rq2_25_34.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq2_25_34.columns = ['author', 'text']
df_llama_rq2_25_34 =  df_llama_rq2_25_34.drop(columns=['author'])

In [34]:
df_llama_rq2_25_34.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_25_34.csv', index=False)

In [25]:
df_llama_rq2_35_49 = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_texts_2_35_49_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq2_35_49['text'] = df_llama_rq2_35_49['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq2_35_49 = df_llama_rq2_35_49[df_llama_rq2_35_49['text'] != '---'].reset_index()
df_llama_rq2_35_49 =  df_llama_rq2_35_49.groupby(df_llama_rq2_35_49.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq2_35_49.columns = ['author', 'text']
df_llama_rq2_35_49 =  df_llama_rq2_35_49.drop(columns=['author'])

In [35]:
df_llama_rq2_35_49.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_35_49.csv', index=False)

In [28]:
df_llama_rq2_50 = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_texts_2_50_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq2_50['text'] = df_llama_rq2_50['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq2_50 = df_llama_rq2_50[df_llama_rq2_50['text'] != '---'].reset_index()
df_llama_rq2_50 =  df_llama_rq2_50.groupby(df_llama_rq2_50.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq2_50.columns = ['author', 'text']
df_llama_rq2_50 =  df_llama_rq2_50.drop(columns=['author'])

In [36]:
df_llama_rq2_50.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama2_50.csv', index=False)

## RQ3

In [46]:
df_llama_rq3_male = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_male_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq3_male['text'] = df_llama_rq3_male['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq3_male = df_llama_rq3_male[df_llama_rq3_male['text'] != '---'].reset_index()
df_llama_rq3_male =  df_llama_rq3_male.groupby(df_llama_rq3_male.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq3_male.columns = ['author', 'text']
df_llama_rq3_male =  df_llama_rq3_male.drop(columns=['author'])

In [47]:
df_llama_rq3_male.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_male.csv', index=False)

In [48]:
df_llama_rq3_female = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_female_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq3_female['text'] = df_llama_rq3_female['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq3_female = df_llama_rq3_female[df_llama_rq3_female['text'] != '---'].reset_index()
df_llama_rq3_female =  df_llama_rq3_female.groupby(df_llama_rq3_female.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq3_female.columns = ['author', 'text']
df_llama_rq3_female =  df_llama_rq3_female.drop(columns=['author'])

In [49]:
df_llama_rq3_female.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_female.csv', index=False)

In [44]:
df_llama_rq3_18_24 = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_18_24_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq3_18_24['text'] = df_llama_rq3_18_24['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq3_18_24 = df_llama_rq3_18_24[df_llama_rq3_18_24['text'] != '---'].reset_index()
df_llama_rq3_18_24 =  df_llama_rq3_18_24.groupby(df_llama_rq3_18_24.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq3_18_24.columns = ['author', 'text']
df_llama_rq3_18_24 =  df_llama_rq3_18_24.drop(columns=['author'])

In [54]:
df_llama_rq3_18_24.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_18_24.csv', index=False)

In [59]:
df_llama_rq3_25_34 = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_25_34_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq3_25_34['text'] = df_llama_rq3_25_34['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq3_25_34 = df_llama_rq3_25_34[df_llama_rq3_25_34['text'] != '---'].reset_index()
df_llama_rq3_25_34 =  df_llama_rq3_25_34.groupby(df_llama_rq3_25_34.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq3_25_34.columns = ['author', 'text']
df_llama_rq3_25_34 =  df_llama_rq3_25_34.drop(columns=['author'])

In [61]:
df_llama_rq3_25_34.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_25_34.csv', index=False)

In [62]:
df_llama_rq3_35_49 = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_35_49_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq3_35_49['text'] = df_llama_rq3_35_49['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq3_35_49 = df_llama_rq3_35_49[df_llama_rq3_35_49['text'] != '---'].reset_index()
df_llama_rq3_35_49 =  df_llama_rq3_35_49.groupby(df_llama_rq3_35_49.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq3_35_49.columns = ['author', 'text']
df_llama_rq3_35_49 =  df_llama_rq3_35_49.drop(columns=['author'])

In [65]:
df_llama_rq3_35_49.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_35_49.csv', index=False)

In [66]:
df_llama_rq3_50 = pd.read_csv(
    r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_50_raw.csv',
    header=None,
    names=['text'],
    delimiter=';'
)

df_llama_rq3_50['text'] = df_llama_rq3_50['text'].str.replace(r'^\d+\.\s*', '', regex=True)
df_llama_rq3_50 = df_llama_rq3_50[df_llama_rq3_50['text'] != '---'].reset_index()
df_llama_rq3_50 =  df_llama_rq3_50.groupby(df_llama_rq3_50.index // 25)['text'].apply(lambda x: ' '.join(x)).reset_index()
df_llama_rq3_50.columns = ['author', 'text']
df_llama_rq3_50 =  df_llama_rq3_50.drop(columns=['author'])

In [68]:
df_llama_rq3_50.to_csv(r'C:\Users\Sten\Documents\EUR BIM\thesis\data\data\llama3_50.csv', index=False)